@model PriorityApp.Service.Models.HoldModel
@inject UserManager<AspNetUser> userManager
@inject SignInManager<AspNetUser> SignInManager

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/NiceAdmin/_CSLayout.cshtml";
    var user = await userManager.GetUserAsync(User);
    var roles = await userManager.GetRolesAsync(user);
}

<h3>Show Qouta</h3>

<form asp-action="Search" method="post" asp-controller="Hold">

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <label class="control-label">Priority Date</label>

        <input type="date" id="SelectedPriorityDate" asp-for="PriorityDate" />

    </div>    <input type="submit" value="Search" />
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.territory.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriorityDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuotaQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReminingQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tolerance)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @for (int index = 0; index < Model.holdModels.Count; index++)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.holdModels[index].territory.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.holdModels[index].PriorityDate)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.holdModels[index].QuotaQuantity)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.holdModels[index].ReminingQuantity)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.holdModels[index].Tolerance)
                    </td>
                    @if (!roles.Contains("Sales"))
                    {
                        <td>
                            <a class="far fa-edit btn btn-success" asp-action="Edit" asp-route-territoryId="@Model.holdModels[index].territoryId" asp-route-PriorityDate="@Model.holdModels[index].PriorityDate">Edit</a>
                        </td>
                    }
                    else
                    {
                        <td>
                            <a class="far fa-edit btn btn-success disabled" asp-action="" asp-route-territoryId="@Model.holdModels[index].territoryId" asp-route-PriorityDate="@Model.holdModels[index].PriorityDate">Edit</a>
                        </td>
                    }

                </tr>
            }
        }
    </tbody>
</table>
