@model PriorityApp.Service.Models.MasterModels.StateModel

@{
    ViewData["Title"] = "Details";
}

<h2>State Details</h2>

<div>
    <h4>State</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>
        <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.SubRegion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubRegion.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubRegion.RegionCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubRegion.RegionCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
