@model PriorityApp.Service.Models.OrderModel2

@{
    ViewData["Title"] = "UnLockOrder";
    Layout = "~/Views/Shared/NiceAdmin/_CSLayout.cshtml";
}

<h1>UnLockOrder</h1>

<div>
    <h4>Are you sure to unlock this order ?</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriorityDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriorityDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustomerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LineID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LineID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item.Name)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PODNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PODNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PODName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PODName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PODZoneName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PODZoneName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PODZoneState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PODZoneState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PODZoneAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PODZoneAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderQuantity)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Priority)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Priority.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriorityQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriorityQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
    </dl>
</div>
<div>
    <form asp-action="UnLockOrder">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="UnLock" class="btn btn-danger" /> |
        <a asp-action="Index" asp-controller="Dispatch">Back to List</a>

    </form>
</div>
