@inject UserManager<AspNetUser> userManager
@inject SignInManager<AspNetUser> SignInManager

@{
    var user = await userManager.GetUserAsync(User);
    var displayName = user.UserName;
    var roles = await userManager.GetRolesAsync(user);
}

@if (SignInManager.IsSignedIn(User))
{
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>priority tool</title>
    <!-- base:css -->
    <link rel="stylesheet" href="~/vendors/typicons/typicons.css">
    <link rel="stylesheet" href="~/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/css/vertical-layout-light/style.css">
    @*<link rel="stylesheet" href="~/css/newStyleSheet.css">*@
    <!-- endinject -->
    <!--DataTable-->
    <link rel="stylesheet" href="~/DataTable/jquery.dataTables.min.css">
    <script src="~/js/addDispatchNotificationATStart.js"></script>


</head>
<body>
    <div class="row" id="proBanner">
        <div class="col-12">
            <span class="d-flex align-items-center purchase-popup">
                <h2 style="margin:auto;">Priority Tool</h2>
            </span>
        </div>

    </div>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        </nav>
        <!-- partial -->
        <base href="https://localhost:44306/">
        <nav class="navbar-breadcrumb col-xl-12 col-12 d-flex flex-row p-0">

            <div style="padding: 10px;" class="navbar-menu-wrapper align-items-center justify-content-end">
                <ul class="navbar-nav mr-lg-2">
                    <li class="nav-item ml-0">
                        <h4 class="mb-0">Dashboard</h4>
                    </li>
                    <li class="nav-item">
                        <div class="d-flex align-items-baseline">
                            <p class="mb-0">Home</p>
                            <i class="typcn typcn-chevron-right"></i>
                            <p class="mb-0">Main Dahboard</p>
                        </div>
                    </li>


                    <!-- Example split danger button -->
                    <div class="login-group">
                        <div class="btn-group">
                            <button type="button" class="btn btn-block">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person" viewBox="0 0 14 14">
                                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                                </svg>
                            </button>
                            <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/Identity/Account/Logout">@displayName</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/Identity/Account/Logout">Logout</a>
                            </div>
                        </div>
                    </div>
                    @if (roles.Contains("Dispatch"))
                    {
                        <div class="notification-group" id="notificationGroup">
                            <a class=" notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div style="border-radius:20px">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                                        <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z" />
                                    </svg>
                                </div>

                                <span class="badge" id="bgId">0</span>
                            </a>
                            <div id="notificaionMenu" class="dropdown-menu">
                                @*<a class="dropdown-item" href="/Identity/Account/Logout">userName</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/Identity/Account/Logout">Logout</a>*@
                                @*<div class="dropdown-divider"></div>*@
                            </div>
                        </div>
                    }
                </ul>
            </div>
        </nav>
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_settings-panel.html -->
            @*<div class="theme-setting-wrapper">
                    <div id="theme-settings" class="settings-panel">
                        <i class="settings-close typcn typcn-times"></i>
                        <p class="settings-heading">SIDEBAR SKINS</p>
                        <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border mr-3"></div>Light</div>
                        <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark</div>
                        <p class="settings-heading mt-2">HEADER SKINS</p>
                        <div class="color-tiles mx-0 px-4">
                            <div class="tiles success"></div>
                            <div class="tiles warning"></div>
                            <div class="tiles danger"></div>
                            <div class="tiles info"></div>
                            <div class="tiles dark"></div>
                            <div class="tiles default"></div>
                        </div>
                    </div>
                </div>*@
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    @if (roles.Contains("CustomerService"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#pend" aria-expanded="false" aria-controls="pend">
                                <i class="typcn typcn-globe-outline menu-icon"></i>
                                <span class="menu-title">Pend</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="collapse" id="pend">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"> <a class="nav-link" href="/Pend/Index"> Uploaddd File </a></li>

                                </ul>
                            </div>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#delivery" aria-expanded="false" aria-controls="delivery">
                                <i class="typcn typcn-globe-outline menu-icon"></i>
                                <span class="menu-title">Delivery Orders</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="collapse" id="delivery">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"> <a class="nav-link" href="CSDeliveryOrder/Index"> Assign Order </a></li>

                                </ul>
                            </div>
                            <div class="collapse" id="delivery">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"> <a class="nav-link" href="CSDeliveryOrder/ShowSubmittedOrders"> Show </a></li>

                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#pickup" aria-expanded="false" aria-controls="pickup">
                                <i class="typcn typcn-globe-outline menu-icon"></i>
                                <span class="menu-title">PickUp Orders</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="collapse" id="pickup">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"> <a class="nav-link" href="/PickUpOrders/Index"> Add </a></li>

                                </ul>
                            </div>
                            <div class="collapse" id="pickup">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"> <a class="nav-link" href="/PickUpOrders/AddPickupOrders"> Upload Pickup Orders </a></li>

                                </ul>
                            </div>
                            <div class="collapse" id="pickup">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"> <a class="nav-link" href="/CSDeliveryOrder/ShowPickupSubmittedOrders"> Show </a></li>

                                </ul>
                            </div>
                            <div class="collapse" id="pickup">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"> <a class="nav-link" href="/PickUpOrders/EditPickUpOrders"> Edit </a></li>

                                </ul>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#warehouse" aria-expanded="false" aria-controls="warehouse">
                                <i class="typcn typcn-globe-outline menu-icon"></i>
                                <span class="menu-title">Warehouse</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="collapse" id="warehouse">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"> <a class="nav-link" href="/Warehouse/AssignWarehouseOrder"> Add Quantity</a></li>

                                </ul>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#Quota" aria-expanded="false" aria-controls="Quota">
                                <i class="typcn typcn-globe-outline menu-icon"></i>
                                <span class="menu-title">Quota</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="collapse" id="Quota">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"> <a class="nav-link" href="/Hold/Create"> Upload Quota File </a></li>

                                </ul>
                            </div>

                            <div class="collapse" id="Quota">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"> <a class="nav-link" href="/Hold/Index"> Show Quota </a></li>

                                </ul>
                            </div>

                        </li>

                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#ExportOrders" aria-expanded="false" aria-controls="ExportOrders">
                                <i class="typcn typcn-globe-outline menu-icon"></i>
                                <span class="menu-title">Export Orders</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="collapse" id="ExportOrders">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"> <a class="nav-link" href="/ExportOrders/Index"> Upload Quota File </a></li>

                                </ul>
                            </div>
                        </li>

                    }
                    else if (roles.Contains("Sales"))
                    {

                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#pend" aria-expanded="false" aria-controls="pend">
                                <i class="typcn typcn-globe-outline menu-icon"></i>
                                <span class="menu-title">Pend</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="collapse" id="pend">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"> <a class="nav-link" href="/Pend/Index"> Uploaddd File </a></li>

                                </ul>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#delivery" aria-expanded="false" aria-controls="delivery">
                                <i class="typcn typcn-globe-outline menu-icon"></i>
                                <span class="menu-title">Delivery Orders</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="collapse" id="delivery">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"> <a class="nav-link" href="Order/Index"> Assign Orders </a></li>

                                </ul>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#pickup" aria-expanded="false" aria-controls="pickup">
                                <i class="typcn typcn-globe-outline menu-icon"></i>
                                <span class="menu-title">PickUp Orders</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="collapse" id="pickup">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"> <a class="nav-link" href="/PickUpOrders/Index"> Add </a></li>

                                </ul>
                            </div>
                            <div class="collapse" id="pickup">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"> <a class="nav-link" href="/PickUpOrders/AddPickupOrders"> Upload Pickup Orders </a></li>

                                </ul>
                            </div>
                            <div class="collapse" id="pickup">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"> <a class="nav-link" href="/CSDeliveryOrder/ShowPickupSubmittedOrders"> Show </a></li>

                                </ul>
                            </div>
                            <div class="collapse" id="pickup">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"> <a class="nav-link" href="/PickUpOrders/EditPickUpOrders"> Edit </a></li>

                                </ul>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#Quota" aria-expanded="false" aria-controls="Quota">
                                <i class="typcn typcn-globe-outline menu-icon"></i>
                                <span class="menu-title">Quota</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="collapse" id="Quota">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"> <a class="nav-link" href="/Hold/Index"> Show Quota </a></li>

                                </ul>
                            </div>

                        </li>

                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#ExportOrders" aria-expanded="false" aria-controls="ExportOrders">
                                <i class="typcn typcn-globe-outline menu-icon"></i>
                                <span class="menu-title">Export Orders</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="collapse" id="ExportOrders">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"> <a class="nav-link" href="/ExportOrders/Index"> Upload Quota File </a></li>

                                </ul>
                            </div>
                        </li>

                    }
                    else if (roles.Contains("Dispatch"))
                    {

                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#dispatch" aria-expanded="false" aria-controls="dispatch">
                                <i class="typcn typcn-globe-outline menu-icon"></i>
                                <span class="menu-title"> Orders</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="collapse" id="dispatch">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"> <a class="nav-link" href="Dispatch/Index"> show </a></li>

                                </ul>
                            </div>
                        </li>
                    }


                </ul>
            </nav>

            <!-- partial -->
            <!-- partial:partials/_sidebar.html -->
            <!-- partial -->
            <div class="main-panel" style="margin-left:20px">
                @*<div class="content-wrapper">*@

                @*<div class="row">*@
                @*<div class="col-xl-6 grid-margin stretch-card flex-column">*@

                @RenderBody()
                @*</div>*@
                @*  </div>*@
                @*</div>*@
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <footer class="footer">
        <div class="card">
            <div class="card-body">
                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2020 <a href="https://www.bootstrapdash.com/" class="text-muted" target="_blank">Bootstrapdash</a>. All rights reserved.</span>
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center text-muted">Free <a href="https://www.bootstrapdash.com/" class="text-muted" target="_blank">Bootstrap dashboard</a> templates from Bootstrapdash.com</span>
                </div>
            </div>
        </div>
    </footer>
    <!-- partial -->
    <!-- base:js -->
    <script src="vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <script src="vendors/chart.js/Chart.min.js"></script>
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="js/off-canvas.js"></script>
    <script src="js/hoverable-collapse.js"></script>
    <script src="js/template.js"></script>
    <script src="js/settings.js"></script>
    <script src="js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="js/dashboard.js"></script>
    <!-- End custom js for this page-->
    <script>
        $(function () {
            $('a[href="#MainRegions"]').click(function (event) {
                event.preventDefault();
            });
        });</script>
    <script src="~/DataTable/jquery-3.5.1.js"></script>
    <script src="~/lib/aspnet/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/DataTable/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {

            var table = $('#orders').DataTable({
                "scrollY": "700px",
                "scrollX": "50px",
                "paging": false
            });

            $('a.toggle-vis').on('click', function (e) {
                e.preventDefault();

                // Get the column API object
                var column = table.column($(this).attr('data-column'));

                // Toggle the visibility
                column.visible(!column.visible());
            });

        //function zeroBadge() {
        //    document.getElementById("bgId").innerText = 0;
        //}

        @*$('#bgId').click(function () {

            document.getElementById("bgId").innerText = 0;
            //var ddlsource = "#notificationId";
            //alert("kk");
                var url = '@Url.Content("~/")' + "CSDeliveryOrder/updateSeenNotification";
            $.getJSON(url, { notificationId: $(ddlsource).val() }, function (data) {

                    });
                });*@

        });
    </script>
    <script>
        $(document).ready(function () {

            $('#notificationGroup').click(function () {

            document.getElementById("bgId").innerText = 0;
            var ddlsource = "#notificationId";
            //alert($(ddlsource).val());
            var url = '@Url.Content("~/")' + "CSDeliveryOrder/updateSeenNotification";
            $.getJSON(url, { id: $(ddlsource).val() }, function (data) {
                //alert(data);
                    });
                });

        });
    </script>
    @RenderSection("Scripts", required: false)

</body>

</html>
}

