@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/NiceAdmin/_CSLayout.cshtml";
}
@model SubmittInfo
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">


<h4>Orders To submit</h4>

<form class="form-group" asp-action="Confirm"  asp-controller="CSDeliveryOrder"  method="post">
    <table>
        <thead>
            <tr>
                <th>Territory Name</th>
            </tr>
        <thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var item in Model.submittedOrdersTerritories)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.territorryModel.Name)
                        </td>
                    </tr>
                }
            }
            <tr>

                @Html.DisplayFor(modelItem => Model.OrdersCount)

            </tr>
        </tbody>
        @for (var index = 0; index < Model.ordersTosubmit.Count(); index++)
        {

            <tr>
                <td>
                    <input class="form-check-input" asp-for="ordersTosubmit[index].OrderNumber" type="hidden" />
                    <input class="form-check-input" asp-for="ordersTosubmit[index].PriorityId" type="hidden" />
                    <input class="form-check-input" asp-for="ordersTosubmit[index].WHSavedID" type="hidden" />

                </td>
            </tr>
        }
    </table>
    <table id="example" class="display table table-striped" style="text-align: center; width:100%; margin-top:10px">
        <thead class="table-dark">
            <tr>
                <th>Salesman</th>
                <th> Assigned Quantity</th>
                <th>Remaining Quantity</th>
                <th>Quota</th>



            </tr>
        </thead>
        <tbody>
            @if (Model.holdModels != null)
            {


                @for (int index = 0; index < Model.holdModels.Count; index++)
                {
                    float assigned = Model.holdModels[index].QuotaQuantity - Model.holdModels[index].ReminingQuantity;
                    <tr>
                        <td>
                            @Html.DisplayFor(model => Model.holdModels[index].userId)
                        </td>
                        <td>
                            @assigned
                        </td>
                        <td>
                            @Html.DisplayFor(model => Model.holdModels[index].ReminingQuantity)
                        </td>
                        <td>
                            @Html.DisplayFor(model => Model.holdModels[index].QuotaQuantity)
                        </td>
                        <td>
                            <input class="form-check-input" asp-for="ordersTosubmit[index].OrderNumber" type="hidden" />
                            <input class="form-check-input" asp-for="ordersTosubmit[index].PriorityId" type="hidden" />
                            <input class="form-check-input" asp-for="ordersTosubmit[index].WHSavedID" type="hidden" />

                        </td>
                    </tr>

                }
            }
        </tbody>
    </table>
    <button type="submit" id="Confirm" class="btn btn-success" >Confirm </button>
</form>


