@model PriorityApp.Service.Models.MasterModels.ItemModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/NiceAdmin/_CSLayout.cshtml";

}

<h2>Delete Item</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Item</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QutaCalc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QutaCalc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HMP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HMP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OldItemNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OldItemNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
