@model PriorityApp.Service.Models.GeoFilterModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/NiceAdmin/_CSLayout.cshtml";
    float holdReminingQuantity = 0;

}
<style>
    #NOOrdersSpain {
        margin: auto;
    }


    table {
        border-collapse: collapse;
        border-spacing: 0;
        border: 5px solid #ddd;
    }

    th, td {
        text-align: center;
        padding: 8px;
        margin: 0px 10px 10px 10px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2
    }

    .qty {
        margin-right: 40px;
        margin-top: 0px;
    }
</style>
@*<script src="~/DataTable/jquery-3.5.1.js"></script>*@
@*<script src="~/DataTable/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="~/DataTable/jquery.dataTables.min.css">
    <script src="/lib/jquery/dist/jquery.js"></script>*@
@*<link href="~/DataTable/bootstrap.css" rel="stylesheet" />
    <link href="~/DataTable/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/DataTable/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/DataTable/jquery-3.6.0.min.js"></script>
    <script src="~/DataTable/dataTables.bootstrap4.min.js"></script>*@
@*<link rel="stylesheet" href="~/css/newStyleSheet.css">*@

<script src="~/DataTable/jquery-3.5.1.js"></script>
@*<script src="~/DataTable/jquery.dataTables.min.js"></script>*@
<link rel="stylesheet" href="~/DataTable/jquery.dataTables.min.css">
@*<script src="/lib/jquery/dist/jquery.js"></script>*@


@if (Model.HoldModel != null)
{

    <script>
                    var holdReminingQuantity3 = @Model.HoldModel.ReminingQuantity;

    </script>
}

<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#SubRegionSelectedId').change(function () {
            var ddlsource = "#SubRegionSelectedId";
            var subItems = '';
            if ($(ddlsource).val() != -1) {
                var url = '@Url.Content("~/")' + "PriorityTool/CSDeliveryOrder/StateFilter";
                $.getJSON(url, { id: $(ddlsource).val() }, function (data) {
                    $('#StateSelectedId').empty();
                    $.each(data, function (i, state) {
                        subItems += "<option value='" + state.value + "'>" + state.text + "</option>";
                    });
                    $('#StateSelectedId').html(subItems);
                });
            }
            else
            {
                $('#StateSelectedId').html(subItems);
            }
        });


        $('#StateSelectedId').change(function () {
            var ddlsource = "#StateSelectedId";

            var territoryItems = '';
            if ($(ddlsource).val() != -1) {
                var url = '@Url.Content("~/")' + "PriorityTool/CSDeliveryOrder/TerritoryFilter";
                $.getJSON(url, { id: $(ddlsource).val() }, function (data) {
                    $('#TerritorySelectedId').empty();
                    $.each(data, function (i, territory) {
                        territoryItems += "<option value='" + territory.value + "'>" + territory.text + "</option>";
                    });
                    $('#TerritorySelectedId').html(territoryItems);
                });
            }
            else
            {
                $('#TerritorySelectedId').html(territoryItems);

            }

        });

        $('#TerritorySelectedId').change(function () {

            var ddlsource = "#TerritorySelectedId";
            var zoneItems = '';

            if ($(ddlsource).val() != -1) {
                var url = '@Url.Content("~/")' + "PriorityTool/CSDeliveryOrder/ZoneFilter";
                $.getJSON(url, { id: $(ddlsource).val() }, function (data) {
                    $('#ZoneSelectedId').empty();
                    $.each(data, function (i, zone) {
                        zoneItems += "<option value='" + zone.value + "'>" + zone.text + "</option>";
                    });
                    $('#ZoneSelectedId').html(zoneItems);
                });
            }
            else
            {
                $('#ZoneSelectedId').html(zoneItems);

            }
        });

    });


    var AssignedValuesArray = [];
    var SavedValuesArray = [];
    var totalQuantity = 0;

    function QuantityValidation(orderQuantity, radioButtonListId, index, priorityQuantityId, holdReminingQuantity2, savedBefore, savedPriorityQuantity, savedPriorityId)
    {

        var tempholdReminingQuantity3 = holdReminingQuantity3;
        var insertedQuantity = priorityQuantityId.value;
        var selectedPriorityId = radioButtonListId.value;

        if (selectedPriorityId != 2) {
            var compareResult = compareInsertedQuantityVSOrderQuantity(insertedQuantity, orderQuantity);
            if (compareResult == true)
            {
                if (savedBefore == true && SavedValuesArray[index] == undefined)
                {
                    if (savedPriorityId == 3)
                    {
                        holdReminingQuantity3 = holdReminingQuantity3 + savedPriorityQuantity;
                        tempholdReminingQuantity3 = tempholdReminingQuantity3 + savedPriorityQuantity;
                    }
                        SavedValuesArray[index] = 1;
                        document.getElementById("remaining").value = tempholdReminingQuantity3;
                        document.getElementById("calculatedRemainingQuantity").value = tempholdReminingQuantity3;
                        document.getElementById('test').value = tempholdReminingQuantity3;

                }

                if (selectedPriorityId != 4)
                {
                    AssignedValuesArray[index] = insertedQuantity;
                }
                else
                {
                    AssignedValuesArray[index] = 0;

                 }
                //alert(SavedValuesArray[index]);
                totalQuantity = AssignedValuesArray.reduce(function (a, b) { return parseFloat(a) + parseFloat(b); });
                var totalCheckResult = checkTotalQuantityVsHoldRemainingQuantity(tempholdReminingQuantity3, totalQuantity);
                if (totalCheckResult == false) {
                    alert("you do not have enough quantity");
                    resetIfFalse(index, priorityQuantityId, radioButtonListId, tempholdReminingQuantity3);
                }
            }
            else {
                alert("please you must insert quantity less than or equal order quantity");
                resetIfFalse(index, priorityQuantityId, radioButtonListId, holdReminingQuantity2);
            }
        }
        else {
            alert("please you must select priority");
            //resetIfFalse(priorityQuantityId, radioButtonListId);

        }

    }

    function resetIfFalse(index, priorityQuantityId, radioButtonListId, holdReminingQuantity3)
    {
        priorityQuantityId.value = 0;
        radioButtonListId.value = 2;
        AssignedValuesArray[index] = 0;
        totalQuantity = AssignedValuesArray.reduce(function (a, b) { return parseFloat(a) + parseFloat(b); });
        document.getElementById("total").value =Math.abs(totalQuantity);
        checkTotalQuantityVsHoldRemainingQuantity(holdReminingQuantity3, totalQuantity);
    }

    function compareInsertedQuantityVSOrderQuantity(insertedQuantity, orderQuantity)
    {
        if (insertedQuantity <= orderQuantity)
        {
            return true;
        }
        else
        {
            return false;
        }
    }
        function checkTotalQuantityVsHoldRemainingQuantity(holdReminingQuantity2, totalQuantity)
        {

            holdReminingQuantity2 = holdReminingQuantity2 - totalQuantity;

            document.getElementById("remaining").value = holdReminingQuantity2;

            document.getElementById("total").value = Math.abs(totalQuantity);

            document.getElementById("calculatedRemainingQuantity").value = holdReminingQuantity2;
            document.getElementById('test').value = holdReminingQuantity2;


            if (holdReminingQuantity2 >= 0)
            {
                return true;
            }
            else
            {
                return false;
            }
    }

</script>
<style>

    table {
        margin-bottom: 20px;
    }

    .selectFilter {
        margin-left: 30px;
    }

    .searchbtn {
        margin: 20px 20px 20px 40px;
        border-radius: 10px;
        width: 200px;
    }
</style>
<script>
    $(document).ready(function () {
        var table = $('#example').DataTable({
            "scrollY": "700px",
            "scrollX": "200px",

            "paging": false
        });

        $('a.toggle-vis').on('click', function (e) {
            e.preventDefault();

            // Get the column API object
            var column = table.column($(this).attr('data-column'));

            // Toggle the visibility
            column.visible(!column.visible());
        });
    });

</script>

<form asp-controller="Order" asp-action="SearchForOrders" method="post" class="form-horizontal" role="form">
    <div class="alert-danger" asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <div class="form-row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 selectFilter" style="display:inline-block">
                <label class="control-label" style="display:block">Priority Date</label>
                <input class="form-select form-select-lg mb-3" type="date" id="SelectedPriorityDate" asp-for="SelectedPriorityDate" />
                <input type="hidden" asp-for="orderType" value=1 />
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 selectFilter" style="display:inline-block">
                <label class="control-label">Products</label>
                <select id="ItemSelectedId" name="ItemSelectedId" asp-for="ItemSelectedId"
                        class="form-select form-select-lg mb-3"
                        asp-items="@(new SelectList(Model.Items, "Id", "Name"))"></select>
            </div>
        </div>
        <div class="form-row" style="width:100%">

            @if (Model.Zones == null)
            {
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 selectFilter" style="display:inline-block">
                    <label class="control-label">Zone</label>
                    <select id="ZoneSelectedId" name="ZoneSelectedId" asp-for="ZoneSelectedId"
                            class="form-select form-select-lg mb-3"
                            asp-items="@(new SelectList(string.Empty, "Id", "Name"))"></select>
                </div>
            }
            else
            {
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 selectFilter" style="display:inline-block">
                    <label class="control-label">Zone</label>
                    <select id="ZoneSelectedId" name="ZoneSelectedId" asp-for="ZoneSelectedId"
                            class="form-select form-select-lg mb-3"
                            asp-items="@(new SelectList(Model.Zones, "Id", "Name"))"></select>
                </div>
            }
            <input type="submit" value="Search" class="btn btn-primary btn-lg searchbtn" />

        </div>


    </div>

</form>

@*<div class="row FormMaindiv">*@
<form asp-action="SaveOrders" class="CreateForm" asp-controller="CSDeliveryOrder" method="post">
    <table id="example" class="display table table-striped" style="text-align: center; width:100%">
        <thead class="table-dark">
            <tr>
                <th scope="col"> Customer Name</th>
                <th>Order Number</th>
                <th>line</th>
                <th> Item </th>
                <th> POD Number</th>
                <th> POD Name</th>
                <th> Address</th>
                <th> Zone</th>
                <th> State</th>
                <th> O.Qty</th>
                <th> Priority</th>
                <th>Qty</th>
                <th>Comment</th>
                <th>Truck</th>
                <th>Status</th>
                <th></th>


            </tr>
        </thead>
        <tbody>
            @if (Model.OrderModel != null)
            {
                if (Model.HoldModel != null)
                {

                    <script>
                         var holdReminingQuantity2 = @Model.HoldModel.ReminingQuantity;
                    </script>
                    holdReminingQuantity = Model.HoldModel.ReminingQuantity;
                    @for (int index = 0; index < Model.OrderModel.orders.Count; index++)
                    {
                        string radioButtonListId = "";
                        radioButtonListId = "RBLI" + index;
                        string priorityQuantityId = "";
                        priorityQuantityId = "PQ" + index;

                        <tr>
                            <td>
                                @Html.DisplayFor(model => model.OrderModel.orders[index].Customer.CustomerName)
                                <input class="form-check-input" asp-for="OrderModel.orders[index].CustomerId" type="hidden" />
                                <input class="form-check-input" asp-for="OrderModel.orders[index].Id" type="hidden" />

                            </td>
                            @*<td>
                                    @Html.DisplayFor(model => model.OrderModel.orders[index].Customer.CustomerType)
                                    <input class="form-check-input" asp-for="OrderModel.orders[index].Customer.CustomerType" type="hidden" />
                                </td>*@
                            <td>
                                @Html.DisplayFor(model => model.OrderModel.orders[index].OrderNumber)
                                <input class="form-check-input" asp-for="OrderModel.orders[index].OrderNumber" type="hidden" />
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.OrderModel.orders[index].LineID)
                                <input class="form-check-input" asp-for="OrderModel.orders[index].LineID" type="hidden" />


                                @Html.DisplayFor(model => model.OrderModel.orders[index].TerritoryId)
                                <input class="form-check-input" asp-for="OrderModel.orders[index].TerritoryId" type="hidden" />
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.OrderModel.orders[index].Item.Name)
                                <input class="form-check-input" asp-for="OrderModel.orders[index].ItemId" type="hidden" />
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.OrderModel.orders[index].PODNumber)
                                <input class="form-check-input" asp-for="OrderModel.orders[index].PODNumber" type="hidden" />
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.OrderModel.orders[index].PODName)
                                <input class="form-check-input" asp-for="OrderModel.orders[index].PODName" type="hidden" />
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.OrderModel.orders[index].PODZoneAddress)
                                <input class="form-check-input" asp-for="OrderModel.orders[index].PODZoneAddress" type="hidden" />
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.OrderModel.orders[index].PODZoneName)
                                <input class="form-check-input" asp-for="OrderModel.orders[index].PODZoneName" type="hidden" />
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.OrderModel.orders[index].PODZoneState)
                                <input class="form-check-input" asp-for="OrderModel.orders[index].PODZoneState" type="hidden" />
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.OrderModel.orders[index].OrderQuantity)
                                <input class="form-check-input" asp-for="OrderModel.orders[index].OrderQuantity" type="hidden" />

                            </td>


                            @if (Model.OrderModel.orders[index].Submitted == true)
                            {
                                <td>
                                    <select id="@radioButtonListId" name="OrderModel.orders[@index].PriorityId" disabled asp-for="OrderModel.orders[index].PriorityId"
                                            asp-items="@(new SelectList(Model.Priorities, "Id", "Name"))" onchange="QuantityValidation(@Model.OrderModel.orders[index].OrderQuantity, @radioButtonListId, @index, @priorityQuantityId, @holdReminingQuantity, false, 0)"></select>


                                </td>
                                @*<td style="width:200px">
                                        <div> <input class="form-check-input" id=@radioButtonListId asp-for="OrderModel.orders[index].PriorityId" type="radio" value="2" disabled style="margin-left:40px" onchange="QuantityValidation(@Model.OrderModel.orders[index].OrderQuantity, @radioButtonListId, @index, @priorityQuantityId, @holdReminingQuantity, false, 0)" /><label style="margin-left:60px">No</label></div>
                                        <div> <input class="form-check-input" id=@radioButtonListId asp-for="OrderModel.orders[index].PriorityId" type="radio" value="3" disabled style="margin-left:40px" onchange="QuantityValidation(@Model.OrderModel.orders[index].OrderQuantity, @radioButtonListId, @index, @priorityQuantityId, @holdReminingQuantity, false, 0)" /><label style="margin-left:60px">Norm</label></div>
                                        <div><input class="form-check-input" id=@radioButtonListId asp-for="OrderModel.orders[index].PriorityId" type="radio" value="4" disabled style="margin-left:40px" onchange="QuantityValidation(@Model.OrderModel.orders[index].OrderQuantity, @radioButtonListId, @index, @priorityQuantityId, @holdReminingQuantity, false, 0)" /><label style="margin-left:60px">Extra</label> </div>
                                    </td>*@
                                <td style="width:300px">
                                    <input class="form-check-input qty" asp-for="OrderModel.orders[index].PriorityQuantity" disabled type="Number" style="width:100px" />

                                </td>
                                <td>
                                    <input class="form-check-input" asp-for="OrderModel.orders[index].Comment" type="text" style="width:100px" disabled value="@Model.OrderModel.orders[index].Comment" />
                                </td>
                            }
                            else if (Model.OrderModel.orders[index].SavedBefore == true && Model.OrderModel.orders[index].Submitted == false)
                            {
                                <td>
                                    <select id="@radioButtonListId" name="OrderModel.orders[@index].PriorityId" asp-for="OrderModel.orders[index].PriorityId"
                                            asp-items="@(new SelectList(Model.Priorities, "Id", "Name"))" onchange="QuantityValidation(@Model.OrderModel.orders[index].OrderQuantity, @radioButtonListId, @index, @priorityQuantityId, @holdReminingQuantity, true, @Model.OrderModel.orders[index].PriorityQuantity, @Model.OrderModel.orders[index].PriorityId)"></select>


                                </td>
                                @*<td style="width:200px">
                                        <div> <input class="form-check-input" id=@radioButtonListId asp-for="OrderModel.orders[index].PriorityId" type="radio" value="2" disabled style="margin-left:40px" onchange="QuantityValidation(@Model.OrderModel.orders[index].OrderQuantity, @radioButtonListId, @index, @priorityQuantityId, @holdReminingQuantity, true, @Model.OrderModel.orders[index].PriorityQuantity, @Model.OrderModel.orders[index].PriorityId)" /><label style="margin-left:60px">No</label></div>
                                        <div> <input class="form-check-input" id=@radioButtonListId asp-for="OrderModel.orders[index].PriorityId" type="radio" value="3" style="margin-left:40px" onchange="QuantityValidation(@Model.OrderModel.orders[index].OrderQuantity, @radioButtonListId, @index, @priorityQuantityId, @holdReminingQuantity, true, @Model.OrderModel.orders[index].PriorityQuantity, @Model.OrderModel.orders[index].PriorityId)" /><label style="margin-left:60px">Norm</label></div>
                                        <div> <input class="form-check-input" id=@radioButtonListId asp-for="OrderModel.orders[index].PriorityId" type="radio" value="4" style="margin-left:40px" onchange="QuantityValidation(@Model.OrderModel.orders[index].OrderQuantity, @radioButtonListId, @index, @priorityQuantityId, @holdReminingQuantity, true, @Model.OrderModel.orders[index].PriorityQuantity, @Model.OrderModel.orders[index].PriorityId)" /><label style="margin-left:60px">Extra</label></div>
                                    </td>*@
                                <td style="width:300px">
                                    <input class="form-check-input qty" id=@priorityQuantityId asp-for="OrderModel.orders[index].PriorityQuantity" type="Number" style="width:100px" value="@Model.OrderModel.orders[index].PriorityQuantity" onchange="QuantityValidation(@Model.OrderModel.orders[index].OrderQuantity, @radioButtonListId, @index, @priorityQuantityId, @holdReminingQuantity, true, @Model.OrderModel.orders[index].PriorityQuantity, @Model.OrderModel.orders[index].PriorityId)" />

                                </td>
                                <td>
                                    <input class="form-check-input" asp-for="OrderModel.orders[index].Comment" type="text" style="width:100px" value="@Model.OrderModel.orders[index].Comment" />
                                </td>
                            }
                            else
                            {
                                <td>
                                    <select id="@radioButtonListId" name="OrderModel.orders[@index].PriorityId" asp-for="OrderModel.orders[index].PriorityId"
                                            asp-items="@(new SelectList(Model.Priorities, "Id", "Name"))" onchange="QuantityValidation(@Model.OrderModel.orders[index].OrderQuantity, @radioButtonListId, @index, @priorityQuantityId, @holdReminingQuantity, false, 0, 2);"></select>

                                </td>

                                @*<td style="width:200px">
                                        <div><input class="form-check-input" id=@radioButtonListId asp-for="OrderModel.orders[index].PriorityId" type="radio" value="2" disabled style="margin-left:40px" onchange="QuantityValidation(@Model.OrderModel.orders[index].OrderQuantity, @radioButtonListId, @index, @priorityQuantityId, @holdReminingQuantity, false, 0, 2);" /><label style="margin-left:60px">No</label></div>
                                        <div><input class="form-check-input" id=@radioButtonListId asp-for="OrderModel.orders[index].PriorityId" type="radio" value="3" style="margin-left:40px" onchange="QuantityValidation(@Model.OrderModel.orders[index].OrderQuantity, @radioButtonListId, @index, @priorityQuantityId, @holdReminingQuantity, false, 0, 2)" /><label style="margin-left:60px">Norm</label></div>
                                        <div><input class="form-check-input" id=@radioButtonListId asp-for="OrderModel.orders[index].PriorityId" type="radio" value="4" style="margin-left:40px" onchange="QuantityValidation(@Model.OrderModel.orders[index].OrderQuantity, @radioButtonListId, @index, @priorityQuantityId, @holdReminingQuantity, false, 0, 2)" /><label style="margin-left:60px">Extra</label></div>
                                    </td>*@
                                <td style="width:300px">
                                    <input class="form-check-input qty" id=@priorityQuantityId asp-for="OrderModel.orders[index].PriorityQuantity" type="Number" style="width:100px" value="@Model.OrderModel.orders[index].OrderQuantity" onchange="QuantityValidation(@Model.OrderModel.orders[index].OrderQuantity, @radioButtonListId, @index, @priorityQuantityId, @holdReminingQuantity, false, 0, 2)" />

                                </td>
                                <td>
                                    <input class="form-check-input" asp-for="OrderModel.orders[index].Comment" type="text" style="width:100px" value="@Model.OrderModel.orders[index].Comment" />
                                </td>
                            }
                            <td style="width:150px">
                                @Html.DisplayFor(model => model.OrderModel.orders[index].Truck)
                                <input class="form-check-input" style="margin-left:60px" asp-for="OrderModel.orders[index].Truck" type="hidden" />
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.OrderModel.orders[index].Status)
                                <input class="form-check-input" asp-for="OrderModel.orders[index].Status" type="hidden" />
                            </td>

                            <td></td>

                            <input class="form-check-input" asp-for="OrderModel.orders[index].Submitted" type="hidden" />
                            <input class="form-check-input" asp-for="OrderModel.orders[index].SavedBefore" type="hidden" />
                            <input class="form-check-input" asp-for="HoldModel.PriorityDate" type="hidden" style="width:100px" />

                            <input class="form-check-input" asp-for="HoldModel.userId" type="hidden" style="width:100px" />
                            <input class="form-check-input" asp-for="HoldModel.PriorityDate" type="hidden" style="width:100px" />

                            <input class="form-check-input" asp-for="HoldModel.QuotaQuantity" type="hidden" style="width:100px" />
                            <input id="calculatedRemainingQuantity" class="form-check-input" asp-for="HoldModel.ReminingQuantity" type="hidden" style="width:100px" />
                            @Html.Hidden("test", Model.HoldModel.ReminingQuantity)
                            <input type="hidden" asp-for="orderType" value=1 />

                        </tr>
                        
                    }


                }
                else
                {
                    <script>

                        document.getElementById("NoQouta").hidden = false;

                    </script>
                }

            }
            else
            {
                <script>

                    document.getElementById("NOOrdersSpain").hidden = false;

                </script>
            }

            @if (Model.HoldModel != null)
            {
                <div>
                    <span>Territory Qouta</span>
                    <input id="Quota" type="number" disabled value="@Model.HoldModel.QuotaQuantity" style="margin:10px 20px 20px 0" />
                    <span>Remaining Quantity</span>
                    <input id="remaining" type="number" disabled value="@Model.HoldModel.ReminingQuantity" style="margin:10px 20px 20px 0" />
                    <span> Total</span>
                    <input id="total" type="number" value="0" disabled style="margin:10px 20px 20px 0" />

                </div>
            }

        </tbody>
    </table>
    <span id="NOOrdersSpain" hidden>No search result</span>
    <span id="NoQouta" hidden>there is no Qouta for selected priority date</span>


    <div class="form-group" style="margin-top:20px">
        <input type="submit" value="Save" class="btn btn-primary btn-lg searchbtn" style="margin:auto" />
    </div>
    <div class="form-group" style="margin-top:40px">
        <input type="submit" value="Submit" asp-action="SubmitOrdersForSalesman" asp-controller="OrderComman" class="btn btn-primary btn-lg searchbtn" style="margin:auto" />
    </div>
</form>


<script>
    function showNOOrdersSpain() {
        document.getElementById("NOOrdersSpain").visiable = true;
    }
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="~/filter/ddtf.js"></script>
<script>
    $('#example').ddTableFilter();
</script>
<script language="javascript">
    var today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0');
    var yyyy = today.getFullYear();

    today = yyyy + '-' + mm + '-' + dd;
    $('#SelectedPriorityDate').attr('min', today);
</script>